<%- include('reusable/header',{cssFileName: "exercise" }) %>

  <%- include('reusable/navbar') %>
  <!-- kell a kulon caTEgories vagy csak menjen exercise a konnyedseg kedveert? -->

  <div class="ex-placer">
    <div class="ex-formatter">
        <div class="form-group">
          <h2><%= exercise === undefined ? "Unknown" : exercise.name %></h2>
          <p><%= exercise === undefined ? "No note" : exercise.note %></p>
          <a class="btn btn-primary" href="/exercise/edit/<%=`${exercise._id}`%>">Edit</a>
          <a class="btn btn-danger" href="/exercise/delete/<%=`${exercise._id}`%>">Delete</a>
        </div>
    </div>
  </div>

<%- include('reusable/footer',{jsFileName: "exercise" }) %>