<%- include('reusable/header',{cssFileName: "exercise" }) %>

  <%- include('reusable/navbar') %>
  <!-- kell a kulon caTEgories vagy csak menjen exercise a konnyedseg kedveert? -->

  <div class="ex-placer">
    <div class="ex-info-formatter">
      <form method="POST">
        <div class="form-group">

          <label for="name" class="ex-piece" style="color: #060b0f; font-weight: bold">Name</label>
          <input id="name" name="name" style="width: 100%;" value="<%= exercise === undefined ? "" : exercise.name %>" />
          <label for="note" class="ex-piece" style="color: #060b0f; font-weight: bold">Useful
            notes:</label>
          <input id="note" name="note" style="width: 100%;" value="<%= exercise === undefined ? "" : exercise.note %>" />
  
          <div class="ex-piece">
            <button type="submit" class="btn btn-primary ex-piece" style="background-color: #1786d5;">Save</button>
          </div>
  
        </div>
      </form>
    </div>
  </div>

<%- include('reusable/footer',{jsFileName: "exercise" }) %>